@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    QwQ<br />
    <br />
    <abbr title="C++/C# CLANNAD">QQ Group:</abbr>
    110444778
</address>

<address>
    <strong>Support:</strong> <a href="mailto:starcluster@qq.com">starcluster@qq.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:starcluster@qq.com">starcluster@qq.com</a>
</address>
